<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Amigo Benfeitor</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      .amigo{
        text-align: center;
      }
    </style>
<body style="background-color: rgb(73, 73, 231);">
  <h5 style="color: white;" class="amigo">Amigos Benfeitores do Seminário</h5>
  <h6 style="color: white;"class="amigo">Paróquia Nossa Senhora do Perpétuo Socorro</h6>
<div class="container">
<form method="POST" action="/confere">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"><b>E-mail</b></label>
      <input type="email" class="form-control" name="email2" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><b>SENHA</b></label>
      <input type="password" class="form-control" name="senha2">
    </div>
   
    <button type="submit" class="btn btn-primary">entrar</button>
  </form>
</div>