<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Amigo Benfeitor</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
<body>
<div class="container">
<form method="POST" action="/gravandoAmigo">
    <div class="form-group">
      <label for="exampleInputEmail1">Nome:</label>
      <input type="text" class="form-control" name="nome" aria-describedby="emailHelp" required>

      <label for="exampleInputEmail1">Endereço:</label>
      <input type="text" class="form-control" name="endereco" aria-describedby="emailHelp" required>

      <label for="exampleInputEmail1">Aniversário:</label>
      <input type="date" class="form-control" name="aniversario" aria-describedby="emailHelp" required>
      
     
      <label for="exampleInputEmail1">valor:</label>
      <input type="text" class="form-control" name="valor" aria-describedby="emailHelp" required>
     <br>

      

    <div class="form-group">
      <label for="exampleInputEmail1"><b>liturgia recebida</b></label>
      <select class="form-select" aria-label="Default select example" name="liturgia">
        
        <option value="janeiro">janeiro</option>
        <option value="fevereiro">fevereiro</option>
        <option value="março">março</option>
        <option value="abril">abril</option>
        <option value="maio">maio</option>
        <option value="junho">junho</option>
        <option value="julho">julho</option>
        <option value="agosto">agosto</option>
        <option value="setembro">setembro</option>
        <option value="outubro">outubro</option>
        <option value="novembro">novembro</option>
        <option value="dezembro">dezembro</option>
      </select>
      <br>
  </div>

    
    
    <button type="submit" class="btn btn-primary">salvar</button>
  </form>
  </div>