<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Sair</a>
      <a class="navbar-brand" href="/cadastrar">Cadastrar</a>
     
    </div>
  </nav>