<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/login">Acessar</a>
      <a class="navbar-brand" href="https://scrimp-mates.000webhostapp.com/niver.html">Aniversariantes</a>
     
    </div>
  </nav>